.task-item {
  list-style: none;

  padding: 1.2rem;

  margin: 1rem 0;

  border-radius: 14px;

  background: var(--panel-light);

  border-left: 4px solid var(--primary);

  cursor: pointer;

  transition: 0.25s;
}

.task-item:hover {
  transform: translateX(6px);

  border-left-color: var(--secondary);

  box-shadow: 0 0 15px rgba(55, 214, 255, 0.25);
}
