:root {
  --bg: #08121f;
  --panel: #0f1f34;
  --panel-light: #132844;

  --primary: #37d6ff;
  --secondary: #42b883;

  --text: #eef7ff;
  --text-muted: #8eaac5;
}

#root {
  background: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 0;
  font-family: "Jost", sans-serif;

  color: var(--text);

  background:
    radial-gradient(
      circle at 20% 20%,
      lab(79.69% -26.61 -31.45 / 0.18),
      transparent 30%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(48, 134, 96, 0.12),
      transparent 35%
    ),
    linear-gradient(135deg, #040a11 0%, #040b13 40%, #071724 100%);

  background-attachment: fixed;
}
